
<link rel="stylesheet" href="/css/index/navbar.css">
<link rel="stylesheet" href="/css/index/listproject.css">


<div class="main-container">
    <div class="nav-container">
        <a style="text-decoration: none; color: black" href="/">
            <div class="new-project">
                Home
            </div>
        </a>
        <form method="post" action="/" class="nav-search">
            <input id="title" type="text" name="title" placeholder="search by title"/>
            <input id="description" type="text" name="description" placeholder="search by description"/>
            <select id="author" name="author">
                <option selected value="select">Select Author</option>
                <% for (let project of projects) { %>
                    <option value=<%= project.author %> > <%= project.author %> </option>
                <% } %>
            </select>
            <button type="submit">Search</button>
        </form>
        <a style="text-decoration: none; color: black" href="/newproject">
            <div class="new-project">
                Create New Project
            </div>
        </a>

    </div>
    <div class="list-project">
        <% for (let idx = 0; idx < projects.length; idx++) { %>
        <a style="text-decoration: none; color: inherit;" href=<%="/issues/" + idx%>>
            <div class="project-container">
                <div class="project-name-author">
                    <span class="project-name"><%= projects[idx].title %></span>
                    <span class="project-author"><%= projects[idx].author %></span>
                </div>
                <div class="project-description"><%= projects[idx].description %></div>
            </div>
        </a>
        <% } %>
    </div>
</div>

<script src="/js/index/setall.js"></script>
